In [39]:
import pandas as pd

# Leyendo el Archivo Excel

```read_excel``` se puede usar para leer un archivo de Excel en formato xlsx. Sin embargo, esta función es capaz de leer archivos en otros formatos, como: ```xls, xlsm, xlsb, odf, ods y odt```.

pandas.read_excel ```( io , ​​sheet_name=0 ,*, header =0 , names=Ninguno , index_col=Ninguno , usecols=Ninguno , dtype=Ninguno , engine=Ninguno , converters=Ninguno , true_values=Ninguno , false_values=Ninguno , skiprows=Ninguno , nrows=Ninguno , na_values=Ninguno , keep_default_na=True , na_filter=True , verbose=False , parse_dates=False , date_parser=<sin_predeterminado> , date_format=Ninguno , miles=Ninguno , decimal='.' , comment=Ninguno , skipfooter=0 , storage_options=Ninguno , dtype_backend=<sin_predeterminado> , engine_kwargs=Ninguno )```

In [40]:
archivo = 'emisiones_CO2.xlsx'

### Instalar primero ```pip install openpyxl```

In [41]:
datos_co2 = pd.read_excel(archivo)
datos_co2.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Ver las hojas que contiene el archivo de excel

In [42]:
pd.ExcelFile(archivo).sheet_names # Muestra las hojas del archivo de excel

['emisiones_C02', 'emisiones_percapita', 'fuentes']

### Parametros de la funcion read_excel

In [43]:
percapita = pd.read_excel(archivo, sheet_name='emisiones_percapita')
percapita.sample(5)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
40106,Níger,NER,1872,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16527,El Salvador,SLV,1957,232021.0,0.0,215068.0,0.0,16953.0,0.0,NaN
48893,Samoa,WSM,1955,112121.0,0.0,112121.0,0.0,0.0,0.0,NaN
57739,Turkmenistán,TKM,1825,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25461,India,IND,1915,108947.0,97914.0,11033.0,0.0,NaN,0.0,NaN

In [44]:
fuentes= pd.read_excel(archivo, sheet_name='fuentes')
fuentes.sample(5)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
26879,Israel,ISR,1973,CDIAC 2022,CDIAC 2022,CDIAC 2022,CDIAC 2022,Andrew cement,CDIAC 2022,[NONE],CDIAC 2022 and UN population
46344,Sudán,SDN,1854,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1431,Anguila,AIA,1821,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
25562,India,IND,2016,Andrew India and GGFR,Andrew India,Andrew India,Andrew India,Andrew India,GGFR,[NONE],"UN population, Andrew India, and GGFR"
50295,Seychelles,SYC,1997,CDIAC 2022,CDIAC 2022,CDIAC 2022,CDIAC 2022,Andrew cement,CDIAC 2022,[NONE],CDIAC 2022 and UN population

### Examinar la primera hoja

In [45]:
intervalo = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols='A:D')
intervalo.head()

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750    0.0
1  Afganistán                AFG  1751    0.0
2  Afganistán                AFG  1752    0.0
3  Afganistán                AFG  1753    0.0
4  Afganistán                AFG  1754    0.0

In [46]:
intervalo_1 = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols='A:D', nrows=10)
intervalo_1

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750      0
1  Afganistán                AFG  1751      0
2  Afganistán                AFG  1752      0
3  Afganistán                AFG  1753      0
4  Afganistán                AFG  1754      0
5  Afganistán                AFG  1755      0
6  Afganistán                AFG  1756      0
7  Afganistán                AFG  1757      0
8  Afganistán                AFG  1758      0
9  Afganistán                AFG  1759      0

# Exportar Excel
```nombre_de_la_variable.to_excel('nombre del archivo.xlsx', index=False)```

In [47]:
intervalo.to_excel('co2_emisiones.xlsx', index=False)

In [48]:
pd.read_excel('co2_emisiones.xlsx')

             País ISO 3166-1 alpha-3   Año         Total
0      Afganistán                AFG  1750  0.000000e+00
1      Afganistán                AFG  1751  0.000000e+00
2      Afganistán                AFG  1752  0.000000e+00
3      Afganistán                AFG  1753  0.000000e+00
4      Afganistán                AFG  1754  0.000000e+00
...           ...                ...   ...           ...
63099      Global                WLD  2017  3.609674e+10
63100      Global                WLD  2018  3.682651e+10
63101      Global                WLD  2019  3.708256e+10
63102      Global                WLD  2020  3.526409e+10
63103      Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

# Leyendo archivos de Google Sheets

link: https://docs.google.com/spreadsheets/d/1mSM41UfQHQjo2msBlHvQn8mYyYOm57rv5eHsUnlLvXM/edit?usp=sharing

### Copiar el ID

link: https://docs.google.com/spreadsheets/d/```=> desde aqui se copia el ID de la hoja de calculo de google sheet 1mSM41UfQHQjo2msBlHvQn8mYyYOm57rv5eHsUnlLvXM```/edit?usp=sharing

### Guardamos en una variable el ID.

```sheet_id =``` 1mSM41UfQHQjo2msBlHvQn8mYyYOm57rv5eHsUnlLvXM

### Siguiente paso

Se quita lo que esta al final del link ```edit?usp=sharing``` Y se agrega al final del link ```gviz/tq?tqx=out:csv&sheet```

### Dentro del f'' String se cooloca:
    1.Se coloca el link original.
    2.Se reemplaza el ID y se coloca la variable donde se guardo dentro de {}.
    3.Se agrega al final ```gviz/tq?tqx=out:csv&sheet``` lo que conecta con el Sheet

In [55]:
sheet_id = '1mSM41UfQHQjo2msBlHvQn8mYyYOm57rv5eHsUnlLvXM'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [54]:
datos_co2 = pd.read_csv(url)
datos_co2

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36.096.739.276,14.506.973.805,12.242.627.935,7.144.928.128,1.507.923.185,391.992.176,302.294.047,4.749.682
63100,Global,WLD,2018,36.826.506.600,14.746.830.688,12.266.016.285,7.529.846.784,1.569.218.392,412.115.746,302.478.706,4.792.753
63101,Global,WLD,2019,37.082.558.969,14.725.978.025,12.345.653.374,7.647.528.220,1.617.506.786,439.253.991,306.638.573,4.775.633
63102,Global,WLD,2020,35.264.085.734,14.174.564.010,11.191.808.551,7.556.290.283,1.637.537.532,407.583.673,296.301.685,4.497.423
63103,Global,WLD,2021,37.123.850.352,14.979.598.083,11.837.159.116,7.921.829.472,1.672.592.372,416.525.563,296.145.746,4.693.699

# Para leer una hoja del archivo

In [56]:
sheet_id = '1mSM41UfQHQjo2msBlHvQn8mYyYOm57rv5eHsUnlLvXM'
sheet_name = 'emisiones_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [58]:
sheet_percapita = pd.read_csv(url_percapita)
sheet_percapita

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
0,Afganistán,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,4.749.682,1.908.857,1.610.910,940.144,198.416,51.579,39.776
63100,Global,WLD,2018,4.792.753,1.919.213,1.596.350,979.965,204.225,53.634,39.366
63101,Global,WLD,2019,4.775.633,1.896.468,1.589.920,984.878,208.309,56.569,39.490
63102,Global,WLD,2020,4.497.423,1.807.760,1.427.353,963.695,208.844,51.981,37.789
63103,Global,WLD,2021,4.693.699,1.893.923,1.496.614,1.001.585,211.472,52.663,37.443