In [1]:
import pandas as pd

# Leyendo el Archivo Excel

```read_excel``` se puede usar para leer un archivo de Excel en formato xlsx. Sin embargo, esta función es capaz de leer archivos en otros formatos, como: ```xls, xlsm, xlsb, odf, ods y odt```.

pandas.read_excel ```( io , ​​sheet_name=0 ,*, header =0 , names=Ninguno , index_col=Ninguno , usecols=Ninguno , dtype=Ninguno , engine=Ninguno , converters=Ninguno , true_values=Ninguno , false_values=Ninguno , skiprows=Ninguno , nrows=Ninguno , na_values=Ninguno , keep_default_na=True , na_filter=True , verbose=False , parse_dates=False , date_parser=<sin_predeterminado> , date_format=Ninguno , miles=Ninguno , decimal='.' , comment=Ninguno , skipfooter=0 , storage_options=Ninguno , dtype_backend=<sin_predeterminado> , engine_kwargs=Ninguno )```

In [2]:
archivo = 'emisiones_CO2.xlsx'

### Instalar primero ```pip install openpyxl```

In [5]:
datos_co2 = pd.read_excel(archivo)
datos_co2.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Ver las hojas que contiene el archivo de excel

In [7]:
pd.ExcelFile(archivo).sheet_names # Muestra las hojas del archivo de excel

['emisiones_C02', 'emisiones_percapita', 'fuentes']

### Parametros de la funcion read_excel

In [12]:
percapita = pd.read_excel(archivo, sheet_name='emisiones_percapita')
percapita.sample(5)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
49882,Serbia,SRB,1856,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33885,Malasia,MYS,1907,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48435,Feel Marthes (Parte Holandesa),SXM,1769,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32731,Macao,MAC,1841,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54040,Surinam,SUR,1934,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
fuentes= pd.read_excel(archivo, sheet_name='fuentes')
fuentes.sample(5)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
15141,Dilandi,DJI,1931,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1817,Antártida,ATA,1935,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
13448,Curazao,CUW,1870,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
54435,Suecia,SWE,1785,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
26428,Voluntad,IRN,1794,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

### Examinar la primera hoja

In [17]:
intervalo = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols='A:D', nrows=10)
intervalo

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750      0
1  Afganistán                AFG  1751      0
2  Afganistán                AFG  1752      0
3  Afganistán                AFG  1753      0
4  Afganistán                AFG  1754      0
5  Afganistán                AFG  1755      0
6  Afganistán                AFG  1756      0
7  Afganistán                AFG  1757      0
8  Afganistán                AFG  1758      0
9  Afganistán                AFG  1759      0