In [39]:
import pandas as pd

# Leyendo el Archivo Excel

```read_excel``` se puede usar para leer un archivo de Excel en formato xlsx. Sin embargo, esta función es capaz de leer archivos en otros formatos, como: ```xls, xlsm, xlsb, odf, ods y odt```.

pandas.read_excel ```( io , ​​sheet_name=0 ,*, header =0 , names=Ninguno , index_col=Ninguno , usecols=Ninguno , dtype=Ninguno , engine=Ninguno , converters=Ninguno , true_values=Ninguno , false_values=Ninguno , skiprows=Ninguno , nrows=Ninguno , na_values=Ninguno , keep_default_na=True , na_filter=True , verbose=False , parse_dates=False , date_parser=<sin_predeterminado> , date_format=Ninguno , miles=Ninguno , decimal='.' , comment=Ninguno , skipfooter=0 , storage_options=Ninguno , dtype_backend=<sin_predeterminado> , engine_kwargs=Ninguno )```

In [40]:
archivo = 'emisiones_CO2.xlsx'

### Instalar primero ```pip install openpyxl```

In [41]:
datos_co2 = pd.read_excel(archivo)
datos_co2.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Ver las hojas que contiene el archivo de excel

In [42]:
pd.ExcelFile(archivo).sheet_names # Muestra las hojas del archivo de excel

['emisiones_C02', 'emisiones_percapita', 'fuentes']

### Parametros de la funcion read_excel

In [43]:
percapita = pd.read_excel(archivo, sheet_name='emisiones_percapita')
percapita.sample(5)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
40106,Níger,NER,1872,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16527,El Salvador,SLV,1957,232021.0,0.0,215068.0,0.0,16953.0,0.0,NaN
48893,Samoa,WSM,1955,112121.0,0.0,112121.0,0.0,0.0,0.0,NaN
57739,Turkmenistán,TKM,1825,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25461,India,IND,1915,108947.0,97914.0,11033.0,0.0,NaN,0.0,NaN

In [44]:
fuentes= pd.read_excel(archivo, sheet_name='fuentes')
fuentes.sample(5)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
26879,Israel,ISR,1973,CDIAC 2022,CDIAC 2022,CDIAC 2022,CDIAC 2022,Andrew cement,CDIAC 2022,[NONE],CDIAC 2022 and UN population
46344,Sudán,SDN,1854,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1431,Anguila,AIA,1821,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
25562,India,IND,2016,Andrew India and GGFR,Andrew India,Andrew India,Andrew India,Andrew India,GGFR,[NONE],"UN population, Andrew India, and GGFR"
50295,Seychelles,SYC,1997,CDIAC 2022,CDIAC 2022,CDIAC 2022,CDIAC 2022,Andrew cement,CDIAC 2022,[NONE],CDIAC 2022 and UN population

### Examinar la primera hoja

In [45]:
intervalo = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols='A:D')
intervalo.head()

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750    0.0
1  Afganistán                AFG  1751    0.0
2  Afganistán                AFG  1752    0.0
3  Afganistán                AFG  1753    0.0
4  Afganistán                AFG  1754    0.0

In [46]:
intervalo_1 = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols='A:D', nrows=10)
intervalo_1

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750      0
1  Afganistán                AFG  1751      0
2  Afganistán                AFG  1752      0
3  Afganistán                AFG  1753      0
4  Afganistán                AFG  1754      0
5  Afganistán                AFG  1755      0
6  Afganistán                AFG  1756      0
7  Afganistán                AFG  1757      0
8  Afganistán                AFG  1758      0
9  Afganistán                AFG  1759      0

# Exportar Excel
```nombre_de_la_variable.to_excel('nombre del archivo.xlsx', index=False)```

In [47]:
intervalo.to_excel('co2_emisiones.xlsx', index=False)

In [48]:
pd.read_excel('co2_emisiones.xlsx')

             País ISO 3166-1 alpha-3   Año         Total
0      Afganistán                AFG  1750  0.000000e+00
1      Afganistán                AFG  1751  0.000000e+00
2      Afganistán                AFG  1752  0.000000e+00
3      Afganistán                AFG  1753  0.000000e+00
4      Afganistán                AFG  1754  0.000000e+00
...           ...                ...   ...           ...
63099      Global                WLD  2017  3.609674e+10
63100      Global                WLD  2018  3.682651e+10
63101      Global                WLD  2019  3.708256e+10
63102      Global                WLD  2020  3.526409e+10
63103      Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]