# Importar Librerias

In [3]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect, text

### Crear el Engine

In [2]:
engine = create_engine('sqlite:///ejercicio_database.db')

In [4]:
df = pd.read_csv('clientes_banco.csv')
df.head()

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio

### Guardar en tabla sql

In [5]:
df.to_sql('clientes_financiera', engine, index=False)

438463

In [6]:
inspector = inspect(engine)
print(inspector.get_table_names())

['clientes_financiera']

In [ ]:
pd.read_sql_table('cli')